<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaan.ledreaderapplication" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraCommActivity"
            android:label="@string/title_activity_camera_comm" >
        </activity>
        <activity
            android:name=".logActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName=".MainActivity" > <!-- 431 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaan.ledreaderapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaan.ledreaderapplication.MainActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaan.ledreaderapplication.MainActivity"
                android:screenOrientation="portrait"/>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName=".CameraCommActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaan.ledreaderapplication.CameraCommActivity" />
        </activity>
    </application>

</manifest>
